body {
	background-color: #F7F9FC;
	color: rgb(0, 0, 0);
 }

a{
text-decoration: none;
color black ;
}

h1 {
	color: skyblue;
	font-family: fantasy;
	font-size: 40px;
}

.img-circle {
	border-radius: 50%;
}


#leader {
	border: 5px solid burlywood;
}

image {
	width: 200px
}



h2 {
	font-family: "Lato", lukasz dsiedzic;
	font-size:30px;
}

body {
	font-size: 19px;
	font-family: monospace;
	font-weight: 500;
	line-height: 1.8
}

.card {
	text-align: center;
background-color: white;
padding: 30px;
margin: 40px;
box-shadow: 0 10px 10px;

}


.container {
	width: 1300px;
	margin: 40px auto;

	background-color: skyblue;
}



@media (max-width: 760px) {
.container {
	width: 600px
     }
 }



<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-with, initial-scale.0">
<title> profil de Lucas TAVIDIAN</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<div class="container">
	<div class="card">

	<h1>👨🏻‍🎓  Hello my name is Lucas TAVIDIAN 👨🏻‍🎓 </h1>

	<img src="images/profile.jpg" class="img-circle" id="leader" > 


	<p>Moi c'est Lucas et bienvenue sur mon profil.   Je suis un etudiant de l'EMLV de première année et grâce à <strong>le Wagon </strong>je code mon premier site internet.   Je suis d'origine arménienne 🇦🇲 et sicilienne 🇮🇹. J'ai commencé ma scolarité dans une ecole privée puis j'ai rejoint un collège public, et maintenant je suis à nouveau dans une école privée, la boucle est bouclée.  </p>

<a href= "https:www.lewagon.com"> Le Wagon</a>
</div>

<div class="card">
<h2> &#x2780 Etudes 👨‍🎓📖</h2>
<p> J'étais au collège <strong>Jean Zay</strong>, et au lycée <strong>Fragonard</strong> dans le Val d'Oise. J'habite toujours dans le 95 à Beaumon/Oise </data> et étudie acutellement en 1er année dans une école de commerce , <strong>Ecole de Management Léonard de Vinci</strong> qui se situe à la défense. </p>	
	</div>

<div class="card">
	<h2> &#x2781 Passions 🏃‍🎬</h2>
<p>J'aime beaucoup le sport surtout la musculation et les sports de combat, je fais de la boce anglaise. La musculation est un sport que je pratique depuis plus de 3 ans, et je pratique et à present la boce anglaise depuis 1 an. J'aime aussi jouer aux jeux vidéos. J'adore passer mon temps libre à regarder les séries et des animés @onepiece.</p>
</div>

<div class="card">
	<h2> &#x2782 Follow me 📷💬</h2>
<ul>
	<li>
		<a href=https://instagram.com/l._.cas_ian?utm_medium=copy_link>
		<i class="fab-fa-instagram">Instagram</i> 
	</a>
	</li>

</ul>
</div>


</body>
</html>


